@import 'styles/colors.scss';

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.input {
  width: 100%;
  flex-grow: 1;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  transition: 0.3s;
  margin: 0 !important;
  box-sizing: border-box;
  padding: 8px 10px !important;
  font-size: 16px;
  opacity: 0;
  outline: none;

  &:focus {
    transition: 0.3s;
    opacity: 1;

    & + .loupe {
      color: #222;
    }
  }

  &::placeholder {
    font-size: 16px !important;
  }
}

.label {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in;
}

.loupe {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
  box-sizing: border-box;
  padding: 5px 13px;
  width: 50px;
  height: calc(100% - 2px);
  box-sizing: border-box;

  &:hover {
    transition: 0.2s;
  }
}
