@import 'styles/colors.scss';
@import 'styles/default.scss';

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 35px;
}

.searchTitle {
  font-size: 18px;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  background: $defaultBg;
  border-radius: 6px;
  color: #fff;
  padding: 8px 10px 10px;
}

.searchItems {
  margin-left: 20px;
  margin-bottom: 20px;
}

.searchItem {
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
}

.searchItem:hover {
  color: #000;
}

.searchItem::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #333;
  margin-right: 14px;
}

.dropSearch {
  position: absolute;
  top: 40px;
  right: 50px;
  cursor: pointer;
}

.closeIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  width: 17px;
  height: 17px;
}

.closeIcon::after,
.closeIcon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.closeIcon::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeIcon::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.searchAuthors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchAuthor {
  margin-right: 20px;
  margin-bottom: 20px;
}

.searchAuthor:last-child {
  margin-right: 0;
}

.pagination {
  margin-bottom: 40px !important;
}

@media screen and (max-width: $siteWidthMobile) {
  .searchItems {
    margin-left: 0;
  }
  .dropSearch {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    display: block;
    background-color: $defaultBg;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
  }

  .closeIcon {
    display: none;
  }

  .searchAuthors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .searchAuthor {
    width: 150px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 320px) {
  .searchAuthor {
    width: 130px !important;
    height: 130px !important;
  }
}
