@import 'styles/default.scss';

.root {
  display: block;
}

.title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Courier';
}

.authors {
  display: grid;
  grid-template-columns: repeat($authorGridColCount, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 40px;
}

.empty {
  width: 100%;
  padding-top: 30px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $siteWidthTab) {
  .authors {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: $siteWidthMobile) {
  .title {
    font-size: 32px;
    margin-bottom: 18px;
  }

  .authors {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 321px) {
  .authors {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    &_item {
      width: 100%;
      height: 250px;
    }
  }
}
