@import 'styles/default.scss';

.authors {
  display: grid;
  grid-template-columns: repeat($authorGridColCount, 1fr);
  grid-row-gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .authors {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .authors {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    &_item {
      width: 160px;
      height: 160px;
    }
  }
}

@media screen and (max-width: 321px) {
  .authors {
    &_item {
      width: 100%;
      height: 135px;
    }
  }
}
