$defaultBg: rgb(83, 61, 107);
$defaultBg2: rgb(61, 107, 88);

$mainBgColor: rgba(0, 0, 0, 0.76);
$backPlateBgColor: #fafafa;
$headerBgColor: $defaultBg;
$mainText: $defaultBg;
$topMenuLink: #fafafa;

$defaultButtonBg: $defaultBg;

$errorMsgColor: rgb(220, 0, 0);
$errorShapeColor: rgb(223, 0, 0);

$linkColor: rgba(4, 16, 117, 0.76);