/** Backgrounds */
$defaultBg: rgb(61, 68, 107);
$headerBg: linear-gradient(
  110deg,
  rgb(234, 238, 250) 0%,
  rgb(235, 237, 243) 30%,
  rgb(255, 255, 255) 100%
);
$footerBg: $headerBg;
$defaultButtonBg: $defaultBg;
$errorMessage: rgb(220, 0, 0);

/** Text */
$mainText: $defaultBg;
$topMenuLink: $defaultBg;
$linkColor: rgba(4, 16, 117, 0.76);
