$defaultBg: rgb(61, 68, 107);
$defaultBg2: rgb(61, 107, 88);

$mainBgColor: rgb(238, 238, 238);
$backPlateBgColor: #fff;
$headerBgColor: linear-gradient(
  110deg,
  rgb(234, 238, 250) 0%,
  rgb(235, 237, 243) 30%,
  rgb(255, 255, 255) 100%
);
$footerBgColor: $headerBgColor;
$mainText: $defaultBg;
$topMenuLink: $defaultBg;

$defaultButtonBg: $defaultBg;

$errorMsgColor: rgb(220, 0, 0);
$errorShapeColor: rgb(223, 0, 0);

$linkColor: rgba(4, 16, 117, 0.76);
