$siteWidth: 1024px;
$siteWidthTab: 768px;
$siteWidthMobile: 480px;
$headerHeight: 80px;
$footerHeight: 100px;
$sideSpace: 24px;

$authorGridColCount: 4;
$authorCardWidth: 200px;
$authorCardHeight: 230px;


// 480px size
$sideSpace_480: 18px;
