@import 'colors.scss';

html,
body {
  font: 14px/20px 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  color: $mainText;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a,
input,
textarea,
button {
  font: 14px/20px 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
