.formItem {
  min-width: 100%;
  margin: 0 12px 12px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  display: block;
  width: 150px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.fileInput {
  height: unset;
  padding-bottom: 16px;
}

@media screen and (max-width: 440px) {
  .image {
    width: 100%;
  }
}
