.formItem {
  min-width: 100%;
  margin: 0 12px 12px 0;

  &_Textarea::-webkit-scrollbar {
    display: none;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}
