@import 'styles/default.scss';

.contacts {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left: -$sideSpace;
  margin-right: -$sideSpace;
  box-sizing: border-box;
}

.contact {
  margin-right: 50px;
  background-color: #333;
  padding: 10px 10px 30px;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }

  &__avatar {
    width: 280px;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(30, 30, 30);
    position: relative;

    &:hover .bgBlur {
      filter: brightness(1);
      transition: 0.5s;
    }

    &:hover .img {
      transform: scale3d(1.2, 1.2, 1.2);
      transition: 1.5s;
    }

    .img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 1;
      transition: 1s;
      box-sizing: border-box;
    }

    .bgBlur {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(0.8);
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s;
    }
  }

  &__name {
    text-align: center;
    font-size: 18px;
    margin-bottom: 6px;
    color: #fff;
    letter-spacing: 1px;
  }

  &__role {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #fff;
  }

  &__infos {
    color: #fff;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .info,
    .info:visited {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .webPage {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $siteWidthTab) {
  .contact {
    width: 40%;
    margin-right: 20px;

    &__avatar {
      width: 100%;
      height: 30vw;
      .img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: $siteWidthMobile) {
  .contacts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
  }

  .contact {
    width: 290px;
    margin: 0;
    margin-bottom: 20px;

    &__avatar {
      width: 100%;
      height: 260px;

      .img {
        width: 100%;
        height: auto;
      }
    }
  }
}
