@import 'styles/colors.scss';

.root {
  position: relative;
  display: inline-flex;
  flex-direction: row;
}

.link {
  color: $linkColor;

  &:active {
    color: $linkColor;
  }

  &:hover {
    text-decoration: none;
  }
}

.xsmall {
  font-size: 10px;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 16px;
}
